body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: white;
}
#page-numbers li {
  display: inline;
  margin: 5px;

}
#page-numbers li:hover {
  cursor: pointer;
}